interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=52.52&longitude=13.41&current=temperature_2m%2Cwind_speed_10m%2Cweather_code
  response:
    body:
      string: "{\"latitude\":52.52,\"longitude\":13.419998,\"generationtime_ms\":0.07045269012451172,\"utc_offset_seconds\":0,\"timezone\":\"GMT\",\"timezone_abbreviation\":\"GMT\",\"elevation\":38.0,\"current_units\":{\"time\":\"iso8601\",\"interval\":\"seconds\",\"temperature_2m\":\"\xB0C\",\"wind_speed_10m\":\"km/h\",\"weather_code\":\"wmo
        code\"},\"current\":{\"time\":\"2026-07-02T04:45\",\"interval\":900,\"temperature_2m\":15.9,\"wind_speed_10m\":6.6,\"weather_code\":0}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
