interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Berlin&count=1&language=en&format=json
  response:
    body:
      string: '{"results":[{"id":2950159,"name":"Berlin","latitude":52.52437,"longitude":13.41053,"elevation":74.0,"feature_code":"PPLC","country_code":"DE","admin1_id":2950157,"admin3_id":6547383,"admin4_id":6547539,"timezone":"Europe/Berlin","population":3426354,"postcodes":["10967","13347"],"country_id":2921044,"country":"Germany","admin1":"State
        of Berlin","admin3":"Berlin, Stadt","admin4":"Berlin"}],"generationtime_ms":0.5326271}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-encoding-time:
      - 0.003993511199951172 ms
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Xyzqwerty&count=1&language=en&format=json
  response:
    body:
      string: '{"generationtime_ms":0.096678734}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-encoding-time:
      - 0.0016450881958007812 ms
    status:
      code: 200
      message: OK
version: 1
