interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Berlin&count=1&language=en&format=json
  response:
    body:
      string: '{"results":[{"id":2950159,"name":"Berlin","latitude":52.52437,"longitude":13.41053,"elevation":74.0,"feature_code":"PPLC","country_code":"DE","admin1_id":2950157,"admin3_id":6547383,"admin4_id":6547539,"timezone":"Europe/Berlin","population":3426354,"postcodes":["10967","13347"],"country_id":2921044,"country":"Germany","admin1":"State
        of Berlin","admin3":"Berlin, Stadt","admin4":"Berlin"}],"generationtime_ms":0.6958246}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-encoding-time:
      - 0.0037431716918945312 ms
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://geocoding-api.open-meteo.com/v1/search?name=Xyzqwerty&count=1&language=en&format=json
  response:
    body:
      string: '{"generationtime_ms":0.09262562}'
    headers:
      content-type:
      - application/json; charset=utf-8
      x-encoding-time:
      - 0.001239776611328125 ms
    status:
      code: 200
      message: OK
- request:
    body: ''
    headers:
    method: GET
    uri: https://api.open-meteo.com/v1/forecast?latitude=52.52437&longitude=13.41053&current=temperature_2m%2Cwind_speed_10m%2Cweather_code
  response:
    body:
      string: "{\"latitude\":52.52,\"longitude\":13.419998,\"generationtime_ms\":0.10025501251220703,\"utc_offset_seconds\":0,\"timezone\":\"GMT\",\"timezone_abbreviation\":\"GMT\",\"elevation\":46.0,\"current_units\":{\"time\":\"iso8601\",\"interval\":\"seconds\",\"temperature_2m\":\"\xB0C\",\"wind_speed_10m\":\"km/h\",\"weather_code\":\"wmo
        code\"},\"current\":{\"time\":\"2026-07-02T05:00\",\"interval\":900,\"temperature_2m\":16.1,\"wind_speed_10m\":6.5,\"weather_code\":0}}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
